/* Réinitialisation des marges et paddings pour tous les éléments */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général du body avec la police et le fond */

body {
    font-family: 'Playfair Display', serif;
    background-color: #f0f0f0;
    scroll-behavior: smooth;
    line-height: 1.6;
}

/* Section Hero */ 

.hero-section {
    width: 100%;
    height: 100vh;
    background-image: url(images/claude\ monet.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 60px 50px;
    color: white;
}

/* Conteneur pour le logo et la navigation */

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}
header{
    background-image: url(images/claude\ monet.png);
}

.logo-small img {
    width: 280px;
    height: 45px;
    margin-left: 80px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
    margin-right: 70px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 0;
    text-transform: uppercase;
    position: relative;
}

.nav-links li a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -2px;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-links li a:hover::after {
    transform: scaleX(1);
}

/* Style du texte dans la section Hero */
.text-content {
    max-width: 800px;
    text-align: left;
    margin-top: 70px;
    margin-left: 80px;
}

.main-title {
    font-family: "Playfair Display SC", serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #FFF;
    line-height: 1.4;
}

.highlighted-text {
    color: #9F6A34;
}

.description-text {
    font-family: "Playfair Display", serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #FFF;
    margin-top: 40px;
}

/* Section logo et icônes */

.logo-icons-section {
    background-color: white;
    padding: 50px 0;
    text-align: center;
}
.highlighted-text1{
    color: black;
}

.logo-container img {
    width: 480px;
    margin-bottom: 90px;
    margin-top:10px;
    
    
}

.features {
    display: flex;
    justify-content: space-around;
    max-width: 1150px;
    margin: 0 auto;
}

.feature-item {
    text-align: center;
    position: relative;
    padding-bottom: 20px;
    color:white;
    
}

.icon-container {
    background-color: rgba(159, 106, 52, 0.66);
    width: 78px;
    height: 78px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 40px;
}

.feature-item h3 {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #9F6A34;
   
}
/* Section À Propos */
#about {
    background: rgba(159, 106, 52, 0.43);
    padding: 50px;
    text-align: center;
}

#about h2{
    font-size: 2.3rem;
    color:white;
    margin-top: -20px;
    
}
.highlighted-text2{
    color:#9F6A34;
}

.white-line {
    width: 170px;
    margin: 20px auto 40px;
    border: 2px white solid;
    margin-top: 2px;
    margin-bottom: 2px;
}

.about-quote {
    color:white;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.about-text {
    width: 600px;
    text-align: center;
    color:white;
    font-family: "Playfair Display";
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 50px;
    margin-top: 35px;
  
}

.about-image img {
    width: 320px;
    height: auto;
    margin-left: 50px;
    margin-top: 30px;
}

/* Section Galerie */
#galerie {
    background-color: white;
    padding: 30px 0;
    text-align: center;
}

.gallery-title {
    width: 272px;
    height: 53px;
    color: #9F6A34;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-size: 2.3rem;
    font-weight: 600;
    margin: 0 auto 30px;
    margin-top: -20px;
}

.brown-line {
    width: 250px;
    border: 2px #9F6A34 solid;
    margin: 20px auto 40px;
    margin-top: -25px;
    
    
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 2px;
    margin: 40px;
  
    
}

/* Image sans cadre */
.gallery-image {
    width: 400px;
    height: 350px;
    background-size: cover;
    margin-bottom: 30px;
    margin-left: 15px;
   
}

/* Cadre conservé autour du nom de l'œuvre */
.gallery-caption {
    color: #FFF;
    background-color: rgba(159.38, 105.59, 51.80, 0.64);
    background-size: 20px;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 520;
    padding: 20px;
    width: 230px;
    margin-left: 90px;
    
}
/* Section Contact */
#contact {
    background-color: rgba(159, 106, 52, 0.43);
    padding: 90px 0;
    text-align: center;
    font-family: "Crimson Text";
}

.contact-title {
    font-family: "Playfair Display", serif;
    font-size: 2.3rem;
    color: #FFF;
    margin-bottom: 20px;
    margin-top: -70px;
       
    
}
.white-line2{
    width: 150px;
    border: 2px #ffffff solid;
    margin: 20px auto 40px;
    margin-top: -20px;
    margin-bottom: 80px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    
}

.contact-details {
    width: 45%;
    color: white;
    font-size: 1.3rem;
    text-align: left;
    
    
}

.subscribe-message {
    font-size: 1.1rem;
    color: white;
    margin-bottom: 50px;
    font-weight: 500;
    
    
}

/* Social links */
.socials {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    margin-left: 10px;
    justify-content: center;

}

.social-icon-circle {
    background-color: rgba(159, 106, 52, 0.66);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
}

.sociallink{
    display: flex;
    gap:10px;
}
.reseau{
    margin-top: 10px;
}


/* Icônes */
.socials i {
    font-size: 2.0rem;
    color: #f0f0f0;
}

.white-line-vertical {
    position: absolute;
    left: 50%;
    height: 460px;
    border: #f0f0f0 solid 1px;
}

.contact-form {
    width: 45%;
    text-align: center;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    margin-left: 170px;
    gap: 25px;
    justify-content: center;
    
}

.contact-form input {
    width: 200px;
    padding: 10px;
    margin-top: 5px;
    border:black solid 2px;
    border-radius: 50px;
    
}
.contact-form input::placeholder{
    color: black;
    font-family: "Crimson Text";


}

.contact-form button {
    background-color: rgba(159, 106, 52, 0.72);
    color: rgb(0, 0, 0);
    border:black solid 2px;
    padding: 10px 20px;
    margin-top: 40px;
    cursor: pointer;
    border-radius: 50px;
    width: 200px;
    font-family: "Crimson Text";
    box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.25);
}


.contact-form button:hover {
    transform: scale(1.05);
}
.contact-form button:active{
    transform: scale(0.95);
}

/* Adaptation pour petits écrans */
@media (max-width: 768px) {

    /* partie texte dans hero*/
    .text-content{
        margin-left: -20px;
        margin-top: 100px;
        
    }
    .hero-section{
        height: 90vh;
    }
    .main-title{
        font-size: 1.5rem;
    }
    .description-text{
        font-size: 0.9rem;
        margin-top: 60px;
        
    }
    .logo-small img{
        margin-left: -30px;
        width: 240px;
        height: auto;
        margin-top: 10px;
        max-width: 100%;  
    }
    .nav-links li a{

        font-size: 0.9rem;
    
    }
    .nav-links{
        gap:20px;
        max-width: 100%;
        margin-right: -20px; 
    }
    

    /*partie icones*/
    .features {
        flex-direction: column;
        display: flex; 
        margin-left: 120px;
        margin-bottom: 10px;
     
    }

    .feature-item{
        display: flex;
        gap: 50px;
        align-items: center;
    
    }
    .logo-container img{
        width: 330px;
        height: auto;
        margin-bottom: 40px;
    }
    
    /* a propos*/
    .about-content{
        flex-direction: column;
        
    }
    .about-text{
        max-width: 100%;
        font-size: 1.0rem;
        
    }
    .about-quote{
        font-size: 30px;
    }
    .about-image img{
        margin-left: 40px;
    }

    /*partie galerie*/

    .gallery-caption{
        
        padding: 5px;
        height: 50px;
        
    }
    .gallery-image{
        height: 250px;
        
        
    }
    .gallery-grid {
        grid-template-columns: 1fr;
    }
    /*partie contact*/
    
    .contact-container {
        flex-direction: column-reverse;
        align-items: center;
    }

    .white-line-vertical {
        transform: rotate(90deg);
        margin-top:-200px;
        
        
    }
    .contact-details{
        margin-top: 60px;
        
    }
    .contact-details,
    .contact-form {
        width: 100%;
        text-align: center;
        justify-content: left;
          
    }
    
    .subscribe-message{
        margin-left: 250px;
        font-size: 1.0rem;
        margin-bottom: 80px;
    }
    .contact-form form{
        
        margin: 30px ; 
        
        margin-top: -150px;
        
    }
   
    .socials{
        margin-left: 100px;
        margin-top: 30px;
    }
    .contact-form button{
        position: absolute;
        margin-top: 80px;
        width: 180px;
        margin-left: 250px;
        
      
    }
    .contact-form input{
        margin-left: 0px;
        width: 180px;
  
    }

   
}





